.parent-home{
    background-color: #EDEDED;
}
.parent-home header{
    padding: 2rem 5rem;
    width: 100%;
    margin: 0 auto;
    transition: a11 0.4s ease-in-out;
}
.parent-home header .logo{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 2rem;
   
}
.parent-home .search-container{
   display: flex;
   align-items: center;
   justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.parent-home button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem 1.5rem;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-family: inherit;
    border: 5px solid #e5e7eb;
}
.parent-home form{
    position: relative;
    max-width: 100%;
    
}
.parent-home form .input-control {
    position: relative;
    transition: all 0.4s ease-in-out;
}
.parent-home form .input-control input{
    width: 100%;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    border-radius: 30px; 
    font-size: 1.2rem;
}
.parent-home form .input-control button{
    position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
}